## Import Data

In [6]:
import pandas as pd
import numpy as np

In [7]:
dat1 = pd.read_csv("/Users/yanzhen/Desktop/Twitter_Conference_Backchannel.csv")
dat1

,document,tweeter,tweetTextOriginal,Followers,Follows,Replies exist? (Y or N),Activity
0,1,dr_menn,You know you’ve been immersed in @OLCToday’s #...,272.0,497.0,N,PS
1,2,mhhighered,?? ?? #ICYMI: @ASU & @UCF were awarded the Dig...,17432.0,5749.0,N,CI
2,3,edtechdev,Added the Peralta Equity Rubric to this list ...,3779.0,3716.0,N,NKA
3,4,kthompso,i appreciate the reflective gratitude and the ...,2440.0,1232.0,N,PN
4,5,angelagunder,Hey #OLCAccelerate #FOMOfest - I was so busy t...,684.0,698.0,Y,PS
...,...,...,...,...,...,...,...
1756,1523,Angela Gibson,Thank you @OLCToday #OLCAccelerate!,NaN,NaN,Y,PS
1757,1525,Angela Gibson,#BestInTrack thanks @OLCToday #OLCAccelerate !!!!,NaN,NaN,Y,PS
1758,1630,Holly Owens,We’re here! #OLCAccelerate @jlabeatnik,NaN,NaN,N,PS
1759,1671,Angela Gibson,Hello @OLCToday!!!! #OLCAccelerate,NaN,NaN,Y,PS
1760,1719,"David Proudfoot, Ed.D.",First ones here. First ones here. @OLCToday #O...,NaN,NaN,N,PS

## Data Cleaning and Wrangling

In [8]:
import re
import string

In [9]:
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [10]:
dat1['tweetTextOriginal'] = dat1['tweetTextOriginal'].map(clean_text)
dat1

,document,tweeter,tweetTextOriginal,Followers,Follows,Replies exist? (Y or N),Activity
0,1,dr_menn,you know you’ve been immersed in olctoday’s ol...,272.0,497.0,N,PS
1,2,mhhighered,icymi asu ucf were awarded the digital inno...,17432.0,5749.0,N,CI
2,3,edtechdev,added the peralta equity rubric to this list ...,3779.0,3716.0,N,NKA
3,4,kthompso,i appreciate the reflective gratitude and the ...,2440.0,1232.0,N,PN
4,5,angelagunder,hey olcaccelerate fomofest i was so busy this...,684.0,698.0,Y,PS
...,...,...,...,...,...,...,...
1756,1523,Angela Gibson,thank you olctoday olcaccelerate,NaN,NaN,Y,PS
1757,1525,Angela Gibson,bestintrack thanks olctoday olcaccelerate,NaN,NaN,Y,PS
1758,1630,Holly Owens,we’re here olcaccelerate jlabeatnik,NaN,NaN,N,PS
1759,1671,Angela Gibson,hello olctoday olcaccelerate,NaN,NaN,Y,PS
1760,1719,"David Proudfoot, Ed.D.",first ones here first ones here olctoday olcac...,NaN,NaN,N,PS

## Organizing Data

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

tweetCV = cv.fit_transform(dat1['tweetTextOriginal'])
tweetCV_dtm = pd.DataFrame(tweetCV.toarray(), columns = cv.get_feature_names())

tweetCV_dtm.index = dat1['tweetTextOriginal'].index
tweetCV_dtm

/Users/yanzhen/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aa,able,absence,absolute,absolutely,absorbing,abt,abundance,abusing,academia,...,yuengling,zen,zero,zhadko,zing,zone,zoom,zoomus,zydney,zydneys
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1756,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1757,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1759,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Topic Modeling

In [29]:
conda install -c conda-forge gensim

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/yanzhen/opt/anaconda3

  added / updated specs:
    - gensim


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py38h50d1736_0        16.9 MB  conda-forge
    gensim-4.0.1               |   py38h23ab428_0        18.2 MB
    smart_open-5.2.1           |     pyhd8ed1ab_0          43 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        35.1 MB

The following NEW packages will be INSTALLED:

  gensim             pkgs/main/osx-64::gensim-4.0.1-py38h23ab428_0
  smart_open         conda-forge/noarch::smart_open-5.2.1-pyhd8ed1ab_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              pkgs/main::conda-4.11.0-py38hecd8cb5_0 --> conda-forge::conda-4.11.0-py38h50d1736_0



Downloading and Extracting Packages
smart_open-5.2.1     | 43 KB     | ##################################### | 100%
gensim-4.0.1         | 18.2 MB   | ##################################### | 100%
conda-4.11.0         | 16.9 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade numpy

Requirement already satisfied: numpy in ./opt/anaconda3/lib/python3.8/site-packages (1.19.5)
Collecting numpy
  Downloading numpy-1.22.2-cp38-cp38-macosx_10_14_x86_64.whl (17.6 MB)
     |████████████████████████████████| 17.6 MB 21.2 MB/s eta 0:00:01   |█████████                       | 5.0 MB 7.2 MB/s eta 0:00:02
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.22.2 which is incompatible.
Successfully installed numpy-1.22.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
from gensim import matutils, models
import scipy.sparse

In [13]:
tdm = tweetCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [26]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.067*"olcaccelerate" + 0.008*"join" + 0.007*"learning" + 0.007*"great" + 0.006*"conference" + 0.006*"olctoday" + 0.006*"olc" + 0.006*"rt" + 0.005*"day" + 0.005*"just"'),
 (1,
  '0.072*"olcaccelerate" + 0.013*"online" + 0.008*"olctoday" + 0.008*"learning" + 0.008*"fomofest" + 0.007*"booth" + 0.006*"today" + 0.006*"session" + 0.005*"join" + 0.005*"rt"'),
 (2,
  '0.066*"olcaccelerate" + 0.014*"learning" + 0.008*"keynote" + 0.008*"fomofest" + 0.007*"faculty" + 0.007*"avantgame" + 0.006*"online" + 0.006*"olctoday" + 0.005*"session" + 0.005*"students"')]

In [28]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=20)
lda.print_topics()

[(0,
  '0.085*"olcaccelerate" + 0.011*"fomofest" + 0.010*"olctoday" + 0.009*"avantgame" + 0.006*"booth" + 0.006*"conference" + 0.006*"keynote" + 0.006*"learning" + 0.006*"rt" + 0.005*"today"'),
 (1,
  '0.058*"olcaccelerate" + 0.017*"online" + 0.011*"learning" + 0.008*"olctoday" + 0.008*"faculty" + 0.006*"olc" + 0.006*"conference" + 0.005*"great" + 0.005*"students" + 0.005*"digital"'),
 (2,
  '0.066*"olcaccelerate" + 0.014*"learning" + 0.009*"online" + 0.008*"session" + 0.007*"fomofest" + 0.006*"students" + 0.006*"rt" + 0.006*"join" + 0.005*"new" + 0.005*"booth"'),
 (3,
  '0.055*"olcaccelerate" + 0.008*"join" + 0.007*"online" + 0.006*"learning" + 0.006*"olclive" + 0.006*"olctoday" + 0.005*"today" + 0.005*"kitchen" + 0.005*"technology" + 0.005*"test"')]

In [27]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=5, passes=10)
lda.print_topics()

[(0,
  '0.083*"olcaccelerate" + 0.011*"olctoday" + 0.009*"fomofest" + 0.009*"learning" + 0.007*"booth" + 0.006*"today" + 0.006*"online" + 0.006*"day" + 0.006*"rt" + 0.005*"great"'),
 (1,
  '0.063*"olcaccelerate" + 0.019*"learning" + 0.015*"online" + 0.008*"booth" + 0.007*"come" + 0.005*"olctoday" + 0.005*"time" + 0.005*"avantgame" + 0.005*"good" + 0.004*"hemisphere"'),
 (2,
  '0.063*"olcaccelerate" + 0.012*"students" + 0.009*"online" + 0.007*"olc" + 0.006*"great" + 0.006*"keynote" + 0.005*"conference" + 0.005*"join" + 0.005*"fomofest" + 0.004*"need"'),
 (3,
  '0.058*"olcaccelerate" + 0.009*"session" + 0.008*"fomofest" + 0.008*"think" + 0.008*"learning" + 0.007*"rt" + 0.007*"podcasting" + 0.005*"workshop" + 0.004*"love" + 0.004*"olctoday"'),
 (4,
  '0.060*"olcaccelerate" + 0.012*"join" + 0.010*"faculty" + 0.009*"learning" + 0.009*"session" + 0.007*"online" + 0.006*"olctoday" + 0.006*"conference" + 0.006*"today" + 0.006*"rt"')]

#### After data cleaning and organizing, we tried different number of topics and passes to see the pattern. The majority of tweets contains the topic of olcaccelerate which is an online learning consortium. Therefore, we think that it is an emerging topic about an online learning activity. There are some popular key words, such as olcaccelerate, ocltoday, learning, online, conference etc.