In [1]:
import pandas as pd
import numpy as np

In [12]:
Eval = pd.read_csv("/Users/yanzhen/Desktop/ICE2_data_eval.csv")
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

### Data Cleaning and Wrangling

In [34]:
evalclean=pd.melt(Eval, id_vars=['teaching'], var_name='comment',value_name='category')
evalclean

,teaching,comment,category
0,0,teaching.1,teacher are punctual but they should also give...
1,1,teaching.1,good
2,1,teaching.1,excellent lectures are delivered by teachers a...
3,1,teaching.1,good
4,1,teaching.1,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular.1,they all are held in super
2031,1,extracurricular.1,good
2032,1,extracurricular.1,the extracurricular activities held in univers...
2033,-1,extracurricular.1,Our university has lot of extracurricular goin...
2034,1,extracurricular.1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [24]:
import re
import string

In [25]:
def clean_text(text):
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [35]:
evalclean['comment'] = evalclean['comment'].map(clean_text)
evalclean

,teaching,comment,category
0,0,teaching,teacher are punctual but they should also give...
1,1,teaching,good
2,1,teaching,excellent lectures are delivered by teachers a...
3,1,teaching,good
4,1,teaching,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular,they all are held in super
2031,1,extracurricular,good
2032,1,extracurricular,the extracurricular activities held in univers...
2033,-1,extracurricular,Our university has lot of extracurricular goin...
2034,1,extracurricular,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

### Organizing Data

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalclean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalclean['comment'].index
commentCV_dtm

/Users/yanzhen/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,coursecontent,examination,extracurricular,labwork,libraryfacilities,teaching
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,0,0,0,1
...,...,...,...,...,...,...
2030,0,0,1,0,0,0
2031,0,0,1,0,0,0
2032,0,0,1,0,0,0
2033,0,0,1,0,0,0
2034,0,0,1,0,0,0

### Exploratory Analysis

In [40]:
evalclean.groupby(['teaching','comment']).count().unstack()

                   category                                                    \
comment   libraryfacilities coursecontent examination extracurricular labwork
teaching
-1                       13            26          26              26      26
 0                       35            70          70              70      70
 1                      137           274         274             274     274


comment  libraryfacilities teaching
teaching
-1                      13       13
 0                      35       35
 1                     137      137

In [42]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

coursecontent        370
examination          370
extracurricular      370
labwork              370
libraryfacilities    370
teaching             185
dtype: int64

### Topic Modeling

In [43]:
from gensim import matutils, models
import scipy.sparse

/Users/yanzhen/opt/anaconda3/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [44]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [45]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.999*"extracurricular" + 0.000*"labwork" + 0.000*"coursecontent" + 0.000*"teaching" + 0.000*"examination" + 0.000*"libraryfacilities"'),
 (1,
  '0.498*"examination" + 0.498*"libraryfacilities" + 0.001*"extracurricular" + 0.001*"teaching" + 0.001*"labwork" + 0.001*"coursecontent"'),
 (2,
  '0.399*"coursecontent" + 0.399*"labwork" + 0.200*"teaching" + 0.001*"extracurricular" + 0.001*"libraryfacilities" + 0.001*"examination"')]

### Text Classifier

In [52]:
from sklearn.model_selection import train_test_split

Xs_docs = evalclean['comment']
Ys_evals = evalclean['teaching']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

In [55]:
from sklearn.naive_bayes import MultinomialNB
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)
model = MultinomialNB()
model.fit(features, y_training)
feature_test = cv.transform(xs_test)
print(model.score(feature_test,y_test))

0.7346437346437347

In [56]:
from sklearn import svm
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)
model = svm.SVC()
model.fit(features, y_training)
feature_test = cv.transform(xs_test)
print(model.score(feature_test,y_test))

0.7346437346437347